@import url("normalize.css");
@import url("defaults.css");
@import url("helpers.css");
@import url("spinner.css");
@import url("justified_gallery");
@import url("radio_buttons");
@import url("hovers");
@import url("file_picker");

.btn {
  color: #fff;
  border: 0;
}

/*font-size: 1.6rem;
    right: -5.5rem;
    top: -4.5rem;
    color: #fff;
*/

.author-card {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

}

.author-card-avatar {
  border-radius: 50%;
  margin-right: 0.7rem;
  width: 3.9rem !important;
}

.author-card-text {

}

.author-card-name {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  display: block;

}

.author-card-button {
  border: 1px solid #39bbd0;
  color: #39bbd0;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;

}

.avatar-container {
  margin-right: 2.6rem;
  
}

.avatar-img {
  border-radius: 50%;
  bottom: 0;
  width: 3rem;
  margin-right: 0.1rem;
  transition: bottom 0.2s;
}

.avatar-title {

}


.btn-ar-container {

}

.btn-ar {
  outline: 0;
}

.btn-upload-container {
  margin-right: 3.2rem;
}

.btn-upload-img {
  width: 1.9rem;
  margin-right: 0.4rem;
}

.btn-upload-text {
}

.btn-wide {
  width: 2rem;
  
}

.btn-favorites {
  background-color: #ff4c4c;
  color: #fff;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.5rem;
  border-color: #ff3333;
}

.btn-square {
  width: 1.5rem;
  
}


.btn-narrow {
  width: 1rem;

}

.btn-large {
  padding: 1.2rem 4rem;
  font-size: 1.3rem;
  color: #fff;
  border: 0;;

}

.btn-modal-close {
  position: absolute;
  right: -70px;
  top: -80px;
  font-size: 1.9rem;
  color: #ffffff;
  outline: 0;
}

.color-blue {
  background-color: #56a9f3;

}

.container-splash {
  background: url("bg-splash.jpg");
  background-size: cover;
  padding: 15rem 0;
  width: 100%;
  top: 0;
}

.dropzone-wrapper {
  padding: 3rem 2rem;
  border: 2px dashed #87c6fb;
  text-align: center;
  /*z-index: 9999;*/
}

.dropzone {
  
}

.dropzone-area {
  padding: 2rem;
  line-height: 1.4; 
  color: #aaa;
  font-size: 1.5rem;  
}

.dropzone-active:after {
/*  background-image: url("svg/upload-icon.svg");
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: 300px;
  transform: translate3d(-50%, -50%, 0);
  z-index: 9999;*/
}

/*#Gallery > div:after {
  content: "<div>Hello</div>";
  position: absolute;
  width: 100%;
}*/
.feed-container {
  text-align: center;

}

.feed {

}

.feed-img-container {
  list-style: none;
}

.feed-avatar-container {

}

.feed-card {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ededed;
  top: -3px;
}

.feed-avatar-container {

}

.feed-avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.4rem;
  width: 2.4rem;;

}

.feed-author-title {
  vertical-align: middle;
  font-size: .9rem;

}

.feed-btn-favorites {
  background-color: #ff4c4c;
  color: #fff;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.5rem;
  border-color: #ff3333;
}

.form-wrapper {
  padding: 3rem;
  text-align: center;
}

.form-wrapper > img {
  margin-bottom: 0.6rem;
  width: 21rem;

}

.header-splash {
  text-align: center;
  animation: fadeInUp 1s ease 0s 1 normal forwards;
}

@keyframes fadeInUp {
   0% { transform: translateY(80px); opacity: 0; }
   100%   { transform: translateY(0px); opacity: 1; }
}


.headline-splash {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 1.7rem;
}

.headline-sub-splash {
  color: #f3f3f3;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  font-weight: 300;

}

.icon-heart {
  width: 1.5rem;
}

.img-avatar {
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 3rem;
}

.img-container {
  cursor: pointer;
}

.img-detail-container {
  display: flex;

}

.img-detail-img {
}

.img-detail-text {
  background-color: #fff;
  padding: 2rem 2rem;
  width: 300px;
}

.img-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  pointer-event: none; 
  min-height: 50px;
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  transition: opacity 0.2s;
  padding: 0.6rem;  
}

.img-title-container {

}

.img-title {
  margin-bottom: 0.4rem;

}

.navbar-home .logo {
  /*color: #fff;*/
  font-size: 1.7rem;
  width: 20.9rem;
} 

.logo-white {
  width: 13.9rem;  
}

.list-inline {
  list-style: none;
  display: inline-block;  
}

.list-inline li {
  /*display: inline-block;*/
}

.navbar {
  color: #777;
  padding: 0 2rem;
  align-items: center;
  width: 100%;
  z-index: 8000;
  font-size: 1rem;
}

.navbar .logo {
  width: 17rem;
}

.navbar-home {
  padding: 2rem 4rem;
  z-index: 8000;
  position: absolute;
  width: 100%;;
}

.navbar-home .navbar-nav > li {
  color: #fff;
  margin-right: 2rem;
}

.navbar-home .navbar-nav > li:last-child {
  margin-right: 0;
}

.navbar-home .navbar-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  /*display: flex;*/
  /*text-align: right;*/
}

.navbar-nav {
  padding: 1rem 0;
}

.navbar-nav > li {
  cursor: pointer;
  display: inline-block;;;
}

.profile-intro {
  text-align: center;

}

.profile-hero {
  height: 33rem;
  width: 100%;
  background-size: cover;
}

.profile-info {
  display: inline-block;
  text-align: center;;;

}

.profile-avatar {
  border-radius: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 6.6rem;
  border: 3px solid white;

}

.profile-title {
  top: -2rem;
  font-size: 2rem;
  color: #555852;

}

.profile-follow {
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  bottom: -2.3rem;
  right: 2rem;
  height: 30px;
  font-weight: bold;
  line-height: 28px;
  color: rgb(255, 255, 255);
  background-color: rgb(52, 191, 73);
  text-shadow: rgb(0, 136, 204) 0px 1px 0px;
  border-color: rgb(47, 171, 65);
  border-image: initial;
  transition: background-color 0.1s ease-in-out;
  font-size: 0.9rem;
  padding: 0px 14px;

}

.profile-stats {
  list-style: none;
  
}

.profile-stat {
  color: rgb(161, 174, 183);

}


/*.navbar + .container-splash {
  color:;
}*/

.ReactModal__Content {
/*  bottom: 0;
  background: rgb(255, 255, 255);
  height: auto;
  text-align: center;
  opacity: 0;
  outline: 0;  
  position: absolute; 
  max-width: 450px;
  width: 80%;
  transition: all .7s;*/
}

.ReactModal__Content--after-open {
  /*top: 40% !important;*/
  /*opacity: 1; */
}

.react-modal-title {
  color: #828282;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 0;
  line-height: 1.5;
  font-family: serf;
  font-style: italic;
  margin-bottom: 1rem;  
}

.react-modal-label {

  display: block;
}

.react-modal-label span {
  display: block;
  text-align: left;
  color: #888;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.react-modal-input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #dcdcdc;  
  margin-bottom: 1rem;
  font-size: 1.1rem;
  outline: 0;
}

.react-modal-input:focus {
  border: 1px solid #5fd4e7;
}

.react-modal-btn {
  background-color: #5fd4e7;
  border: 1px solid #53b7c7;
  border-radius: 3px;
  font-weight: 300;
  padding: 1rem;
  width: 100%;
  font-size: 1.1rem;
} 

.sample-container {
  background-color: #f3f3f3;
  padding: 3rem 0;  
}

.sample-search {
  text-align: center;
  height: 4rem;
}

.sample-search-title {
  color: #444;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.6rem;
  font-family: Lato;;
}

.sample-search-input {
  width: 34rem;
  padding: 1.2rem;
  height: 100%;
  vertical-align: middle;
  outline: 0;
}

.sample-search-btn {
  background-color: #56a9f3;
  vertical-align: middle;
  color: #fff;
  height: 100%;

}


.searchbar-container {
  height: 5rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e2e2;

}

.searchbar {
  width: 80%;
  outline: 0;
  height: 100%;
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 2rem;
  border: 0;

}

.searchbar::-webkit-input-placeholder {
   color: #aaa;
}

.searchbar::-moz-placeholder {
   color: #aaa;
}

.searchbar::-ms-placeholder {
   color: #aaa;
}

.searchbar-btn {
  height: 100%;
  background-color: #64c9fb;
  color: #fff;
  vertical-align: middle;
  padding: 0 1.5rem;
  
}

.search-filters-container {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.search-filters {

}

.search-results {
  background-color: #f3f3f3;
  padding: 2.5rem;
}

.search-results #Gallery {
  margin: 0 auto;
  /*width: 95%;*/
}

.title-favorites {
  margin-left: 0.4rem;
}

.title-user {
  font-weight: 700;
}