@import url("normalize.css");
@import url("defaults.css");
@import url("helpers.css");
@import url("spinner.css");
@import url("justified_gallery");
@import url("radio_buttons");
@import url("hovers");

.btn {
  color: #fff;
  border: 0;
}

/*font-size: 1.6rem;
    right: -5.5rem;
    top: -4.5rem;
    color: #fff;
*/

.avatar-container {
  
}

.avatar-img {
  border-radius: 50%;
  bottom: 0;
  width: 3rem;
  margin-right: 0.6rem;
  transition: bottom 0.2s;
}

.avatar-title {

}

.btn-ar-container {

}

.btn-ar {
  outline: 0;
}

.btn-wide {
  width: 2rem;
  
}


.btn-square {
  width: 1.5rem;
  
}


.btn-narrow {
  width: 1rem;

}

.btn-large {
  padding: 1.2rem 4rem;
  font-size: 1.3rem;
  color: #fff;
  border: 0;;

}

.btn-modal-close {
  position: absolute;
  right: -70px;
  top: -80px;
  font-size: 1.9rem;
  color: #ffffff;
  outline: 0;
}

.color-blue {
  background-color: #56a9f3;

}

.container-splash {
  background: url("bg-splash.jpg");
  background-size: cover;
  padding: 15rem 0;
  position: absolute;
  width: 100%;
  top: 0;
}

/*#Gallery > div:after {
  content: "<div>Hello</div>";
  position: absolute;
  width: 100%;
}*/

.form-wrapper {
  padding: 3rem;
  text-align: center;
}

.form-wrapper > img {
  margin-bottom: 0.6rem;
  width: 21rem;

}

.header-splash {
  text-align: center;
  animation: fadeInUp 1s ease 0s 1 normal forwards;
}

@keyframes fadeInUp {
   0% { transform: translateY(80px); opacity: 0; }
   100%   { transform: translateY(0px); opacity: 1; }
}


.headline-splash {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 1.7rem;
}

.headline-sub-splash {
  color: #f3f3f3;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  font-weight: 300;

}

.img-avatar {
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 3rem;
}

.img-container {
  cursor: pointer;
}

.img-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  pointer-event: none; 
  min-height: 50px;
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  transition: opacity 0.2s;
  padding: 0.6rem;  
}

.logo {
  /*color: #fff;*/
  font-size: 1.7rem;
  width: 20.9rem;
} 

.logo-white {
  width: 13.9rem;  
}

.list-inline {
}

.list-inline li {
  /*display: inline-block;*/
}

.navbar {
  color: #777;
  padding: 0 2rem;
  align-items: center;
  width: 100%;
  z-index: 8000;
  font-size: 1rem;
}

.navbar-home {
  padding: 2rem 4rem;
  z-index: 8000;
}

.navbar-home .navbar-nav > li {
  color: #fff;
}

.navbar-home .navbar-nav {
  padding: 0;
  width: 9%;
  list-style: none;
  /*display: flex;*/
  /*text-align: right;*/
}

.navbar-nav > li {
  cursor: pointer;
  display: inline-block;;;
}


/*.navbar + .container-splash {
  color:;
}*/

.ReactModal__Content {
/*  bottom: 0;
  background: rgb(255, 255, 255);
  height: auto;
  text-align: center;
  opacity: 0;
  outline: 0;  
  position: absolute; 
  max-width: 450px;
  width: 80%;
  transition: all .7s;*/
}

.ReactModal__Content--after-open {
  /*top: 40% !important;*/
  /*opacity: 1; */
}

.react-modal-title {
  color: #828282;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 0;
  line-height: 1.5;
  font-family: serf;
  font-style: italic;  
}

.react-modal-label {

  display: block;
}

.react-modal-label span {
  display: block;
  text-align: left;
  color: #888;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.react-modal-input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #dcdcdc;  
  margin-bottom: 1rem;
  font-size: 1.1rem;
  outline: 0;
}

.react-modal-input:focus {
  border: 1px solid #5fd4e7;
}

.react-modal-btn {
  background-color: #5fd4e7;
  border: 1px solid #53b7c7;
  border-radius: 3px;
  font-weight: 300;
  padding: 1rem;
  width: 100%;
  font-size: 1.1rem;
} 

.searchbar-container {
  height: 5rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e2e2;

}

.searchbar {
  width: 80%;
  outline: 0;
  height: 100%;
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 2rem;
  border: 0;

}

.searchbar::-webkit-input-placeholder {
   color: #aaa;
}

.searchbar::-moz-placeholder {
   color: #aaa;
}

.searchbar::-ms-placeholder {
   color: #aaa;
}

.searchbar-btn {
  height: 100%;
  background-color: #64c9fb;
  color: #fff;
  vertical-align: middle;
  padding: 0 1.5rem;
  
}

.search-filters-container {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.search-filters {

}

.search-results {
  background-color: #f3f3f3;
  padding: 2.5rem;
}

.search-results #Gallery {
  margin: 0 auto;
  /*width: 95%;*/
}

.title-user {
  font-weight: 700;

}