* {
  position: relative;
  box-sizing: border-box;
}

button, input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  transition: filter .3s, -webkit-filter .3s;
}

button:hover, input[type="submit"]:hover {
  filter: brightness(85%);  
  -webkit-filter: brightness(85%);  
}

p {
  margin: 0;
}