* {
  position: relative;
  box-sizing: border-box;
}

input[type="text"], input[type="password"] {
  outline: 0;
}

input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid #5fd4e7;  
}

button, input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  transition: filter .3s, -webkit-filter .3s;
}

button:hover, input[type="submit"]:hover {
  filter: brightness(85%);  
  -webkit-filter: brightness(85%);  
}

h1, h2, h3, ul, p {
  margin: 0;
}

a {
  cursor: pointer;
}