.clearfix {
  overflow: auto;
}

.fb {
  display: flex;
  justify-content: space-between;
}

.fbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify {
    font-size: 0px;
    text-align: justify;
}

.justify:after{
  content: '';
  display: inline-block;
  font-size:0;
  height: 0;      
  line-height:0;
  width: 100%;  
}

.vc {
  align-items: center;
}

.ibm {
  display: inline-block;
  vertical-align: middle;
}

.white {
  color: white;
}

.mb1 {
  margin-bottom: 1rem;  
}

.mb11 {
  margin-bottom: 1.1rem;
}

.mb12 {
  margin-bottom: 1.2rem;  
}

.mb13 {
  margin-bottom: 1.3rem;
}

.mb14 {
  margin-bottom: 1.4rem;  
}

.mb15 {
  margin-bottom: 1.5rem;
}

.mb16 {
  margin-bottom: 1.6rem;  
}

.mb17 {
  margin-bottom: 1.7rem;
}

.mb18 {
  margin-bottom: 1.8rem;
}

.mb19 {
  margin-bottom: 1.8rem;  
}

.mb2 {
  margin-bottom: 2rem;
}

.mb21 {
  margin-bottom: 2.1rem;
}

.mb22 {
  margin-bottom: 2.2rem;  
}

.mb23 {
  margin-bottom: 2.3rem;
}

.mb24 {
  margin-bottom: 2.4rem;
}

.mb25 {
  margin-bottom: 2.5rem;  
}