<!DOCTYPE html>
<html>
  <head>
    <title>StellarPixels</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="http://res.cloudinary.com/stellar-pixels/image/upload/v1473457364/logo-no-text_ojhezo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/css/justifiedGallery.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/js/jquery.justifiedGallery.js"></script>
  </head>

  <body>
    <%= yield %>

    <script>

    </script>    
  </body>
</html>
