<!DOCTYPE html>
<html>
  <head>
    <title>StellarPixels</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/css/justifiedGallery.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/js/jquery.justifiedGallery.js"></script>
  </head>

  <body>
    <%= yield %>

    <script>

    </script>    
  </body>
</html>
